@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #474747;
  --heading: #3A3C51;
  --accent: #D7C4E3;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.font-serif {
  font-family: "Playfair Display", Georgia, serif;
}

.rainbow-bar {
  background: linear-gradient(
    to right,
    #e40303,
    #ff8c00,
    #ffed00,
    #008026,
    #004dff,
    #750787
  );
}
